---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>

    <p class="post-meta">{% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% endif %}
    {% if page.updated %}<i>(update: {{ page.updated | date: "%b %-d, %Y" }})</i>{% endif %}
    {% if page.author %} • {{ page.author }}{% endif %}
    {% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

<!--
vim: ts=2 expandtab :
-->
